.container {
    width: 320px;
    height: 320px;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: #989090;
    border-radius: 5px;
    box-shadow: black;
}

.rje{
    font-family: cursive;
}

.container .box{
    width: 70px;
    height: 70px;
    border-radius: 4px;
    margin: 5px;
}

.container .box.hideColor{
    background: #000 !important;
}

.hideFinished{
    display: none;
}

.showFinished{
    display: block !important;
    text-align: center !important;
}

.title{
    display: block;
    text-align: center;
}

button {
    padding: 10px 9px;
    border: blueviolet 2px solid;
    background: white;
    color: blueviolet;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
}
button:hover {
    border: blueviolet 2px solid;
    color: white;
    background: blueviolet;
}
